<table
  align='center'
  border='0'
  cellpadding='0'
  cellspacing='0'
  width='600'
  style='border-collapse: collapse;background-color: #F5F5F5;'
>
  <tr>

  </tr>
  <tr>
    <td colspan='2' align='center'>
      <div
        style='padding-left: 10px; padding-right: 10px; padding-top:15px; padding-bottom: 0px; color: #000; margin-top: 5px;border-radius: 8px =8px 0 0;'
      >
        <div style='padding-bottom: 15px; font-size: 26px; font-weight: bold; position: relative; color: #000;'>Activate
          your account<span
            style='position: absolute; display: block; overflow: hidd=en; width: 114px; height: 5px; border-radius: 5px; bottom: 0; left: 50%; background-color: #00A3FF; transform: translateX(-50%);'
          ></span></div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <div style='padding-top: 20px; padding-bottom: 20px; padding-left: 25px; padding-right: 25px; color: #000;'>
        <table
          align='center'
          border='0'
          cellpadding='0'
          cellspacing='0'
          width='100%'
          style='border-collapse: collapse;'
        >
          <tr>
            <td style='padding-top: 5px; padding-bottom: 15px; font-size: 22px; color: #000;'>Dear
              <b>{{email}}</b>,</td>
          </tr>
          <tr>
            <td style='padding-top: 5px; padding-bottom: 5px;'>Thank you for your registration.</td>
          </tr>
          <tr>
            <td style='padding-top: 5px; padding-bottom: 5px;'>Confirm your email by clicking the button below.</td>
          </tr>
          <tr>
            <td align='center' style='padding-top: 10px; padding-bottom: 10px;'>{{token}}</td>
          </tr>
          <tr>
            <td style='padding-top: 5px; padding-bottom: 5px;font-size:15px;'>If this was not your own activity, please
              contact us immediately via email:
              <a
                href='mailto:contact@solana.defi'
                style='text-decoration: none; color: #00A3FF;'
              >support@example</a></td>
          </tr>
          <tr>
            <td style='padding-top: 25px; padding-bottom: 5px;'>Best regards,</td>
          </tr>
          <tr>
            <td style='padding-top: 5px; padding-bottom: 5px;'><span style='color: #00A3FF;'>NestJS</span>
              Team</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td align='center' style='font-weight: normal; color: #fff; font-size: 15px;'>
      <div><span style='vertical-align: middle; display: inline-block; margin-top: 120px;'>Copyright © 2022 NestJS.
          All Rights Reserved.</span></div>
    </td>
  </tr>
</table>